.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(107, 107, 216);
    padding-left: 1em;
    padding-right: 1em;
}

.logout{
    color: aliceblue;
    cursor: pointer;
}